body {
    font: 'Montserrat';
    size: 29px;
    background-color: #333030;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 ,h2{
    float: both;
    top: 10px;
    text-align: center;
    color: #ff4500;
}

.setting {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="checkbox"],
input[type="text"],input[type="email"],input[type="username"],input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

input[type="checkbox"]:hover,
input[type="text"]:hover,input[type="email"]:hover,input[type="username"]:hover,input[type="password"]:hover  {
    background-color: #777;
}

input[type="checkbox"]:focus,
input[type="text"]:focus ,input[type="email"]:focus,input[type="username"]:focus,input[type="password"]:focus{
    box-shadow: 0 0 5px #ff4500;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox label {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.custom-checkbox label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 3px;
}

.custom-checkbox input[type="checkbox"]:checked + label::before {
    background-color: #ff4500;
    border-color: #ff4500;
}

.custom-checkbox label::after {
    content: '';
    position: absolute;
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + label::after {
    display: block;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.button:hover {
    background-color: #ff5733;
}

.passLength{
    background-color: #333030;
    border-color: #ff4500;
    color: white;
}
.em{
    font-weight: bolder;
    color: red;
    text-align: center;
}
