body {
    font: 'Montserrat';
    background-color: #333030;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

form {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 12px;
    color: #ff4500;
}
.options {
    top: 20px;
    right: 20px;
    text-align: right;
    position: fixed;

}

.backbtn {
    left:20px;
    font-style: bold;
    font-size: 25px;
    position: fixed;
}
.option-image {
    width: 20px;
    height: 20px;
    margin-right: 2.5px;
    margin-top: 5px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 2px;
    box-sizing: border-box;
    border: 2px solid #ff4500;
    border-radius: 4px;
    background-color: #333030;
    color: #fff;
}
h1 {
    float: both;
    top: 10px;
    text-align: center;
    color: #ff4500;
}

button{
    z-index: 2;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    background-color: #ff4500;
    color: #fff;
    cursor: pointer;
    border: #ff4500;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #cc3700;
}

input[type="submit"] {
    width: 100%;
    background-color: #ff4500;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #cc3700;
}

.registration-link {
    text-align: center;
    margin-top: 20px;
    color: #ff4500;
}
label span.registration-link {
   text-decoration: underline;
    cursor: pointer;
}

.registration-link span {
    text-decoration: underline;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
            position: fixed;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 2;
            top: 0px;
            right: 0px;
            border: 2px solid #333030;
            border-radius: 12px;
            background-color: #333030;
        }

        .dropdown-content a {
            color:#cc3700;
            padding: 12px 16px;
            border: 2px solid #333030;
            border-radius: 12px;
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            cursor: pointer;
            background-color: #363434;
        }
.settings-image{
    height: 15px;
    width: 15px;
}
p{
    color:#cc3700;
}
    
caption {
    position: sticky;
    padding-top: 10px;
    top: 0;
    z-index: 1;
    background-color: #333030;

}

caption h1{
    text-align: center;
    color: #ff4500;
}
thead{
    position: sticky;
    z-index: 1;
    top: 72px;
}
table{
    top: 26x;
    z-index: 1;
    position: sticky;

    table {
        width: 100%;
        border-radius: 8px;
        overflow-x: auto;
        margin-top: 20px;
    }
    
    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 2px solid #ff4500;
    }
    
    th {
        background-color: #ff4500;
        color: #fff;
    }
    
}   
 
.togglePassword {
    margin-top: 252px;
    margin-left: 258px;
    position: absolute;
}
.togglePassword2 {
    margin-top: 352px;
    margin-left: 258px;
    position: absolute;
}
.togglePassword3 {
    margin-top: 304px;
    margin-left: 258px;
    position: absolute;
}
.togglePassword4 {
    margin-top: 262px;
    margin-left: 258px;
    position: absolute;
}
.show-image {
    width: 23px;
    height: 23px;
    margin-right: 2.5px;
    margin-top: 5px;
}

.show-image2 {
    width: 23px;
    height: 23px;
    margin-right: 2.5px;
    margin-top: 5px;
}
#password-strength {
    margin-top: 10px;
}
div{
    margin-top: 20px;
}

.long-content {
    max-width: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}